*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   html,body{
   width: 100%;
   height: 100%;
}
#main{
   height: 100%;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
}
#header{
   height: 13%;
   width: 100%;
   position: fixed;
   display: flex;
   align-items: center;
   background-color: white;
   justify-content: space-around;
   z-index: 1;
}
.head:hover{
   cursor: pointer;
}
#logo{
   height: 100%;
}
#logo img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.texts{
   color: rgb(21, 14, 156);
   font-weight: bold;
}
.texts:hover{
   color: rgb(58, 157, 214);
}
.icons{
   padding: 10px;
   border-radius: 50%;
}
.icons:hover{
   background-color: lightblue;
}
#login{
   display: flex;
   padding: 10px;
   border-radius: 50px;
}
#login:hover{
   background-color: lightblue;
}
#contact{
   font-weight: lighter;
   margin-left: 200px;
   
}
#try{
   background-color: rgb(9, 129, 9);
   padding: 10px 20px;
   /* padding-left: 20px;
   padding-right: 20px; */
   border-radius: 5px;
   color: white;
   font-weight: bold;
}
#try:hover{
   background-color: rgb(1, 22, 1);
}
#fakeheader{
   height: 13%;
   width: 100%;
}
#page1{
   height: 87%;
   width: 100%
}
#strip{
   width: 100%;
   height: 8%;
   background-color: rgb(7, 7, 91);
   color: white;
   align-items: center;
   display: flex;
   justify-content: center;
   font-weight: bold;
}
#content{
   height: 76%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#box1{
   height: 90%;
   width: 47%;
   background-color: white;
}
#box1 h1{
   margin: 30px 30px;
   margin-right: 50px;
   font-weight: 600;
   color: rgb(9, 9, 94);
   font-size: 50px;
}
#box1 p{
   font-family: Arial, Helvetica, sans-serif;
  color: rgb(9, 9, 94);
   font-size: x-large;
   margin: 30px;
   margin-right: 60px;
   font-weight: lighter;
}
#heading{
   height: 16%;
   width: 100%;
   background-color: white;
   color: rgb(12, 12, 91);
   font-weight: 700;
   font-size: xx-large;
   display: flex;
   align-items: center;
   justify-content: center;
}
.buttons:hover{
   cursor: pointer;
}
#btns{
   display: flex;
   margin: 30px;
}
#btn1{
   width: 23%;
   padding: 10px 20px;
   color: white;
   background-color: rgb(75, 117, 253);
   margin: 10px;
   text-align: center;
   border-radius: 5px;
   border: 2px solid  rgb(75, 117, 253);
}
#btn1:hover{
   background-color: rgb(56, 56, 163);
   border: 2px solid rgb(56, 56, 163);
}
#btn2{
   width: 23%;
   padding: 10px 20px;
   color: rgb(44, 91, 232);
   border: 2px solid rgb(44, 91, 232);
   margin: 10px;
   text-align: center;
   border-radius: 5px;
}
#btn2:hover{
   background-color: rgb(212, 245, 252);
   border: 2px solid rgb(31, 31, 87);
   color: rgb(31, 31, 87);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#strip u{
   margin-left: 20px;
   font-weight: lighter;
}
#box2{
   height: 90%;
   width: 47%; 
   display: flex;
   align-items: center;
   justify-content: center;
}
img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
#sbox{
   position: absolute;
   height: 43%;
   width: 37%;
   background-color: rgb(151, 193, 247);
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
#sbox:hover{
   cursor: pointer;
   background-color: rgb(123, 161, 198);
}
#vid{
   height: 70%;
   width: 60%;
   background-color: white;
}
video{
   position: absolute;
   height: 90%;
   width: 70%;
   object-fit: cover;
}
#page2{
   height: 87%;
   width: 100%;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.bx{
   height: 65%;
   width: 20%;
   border-radius: 10px;
   box-shadow: 0 2px 8px;
} 
#bx1{
   background-color: white;
   margin-left: 50px;
}
#bx2{
   background-color: white;
}
#bx3{
   background-color: white;
}
#bx4{
   background-color: white;
   margin-right: 50px;
}
img{
   height: 40%;
   width: 100%;
   overflow: hidden;
   object-fit: cover;
   border-radius: 10px;
}
.bx h1{
   font-size: 25px;
   margin-top: 30px;
   margin-left: 30px;
  /* text-align: center; */
}
.bx:hover{
   cursor: pointer;
}
.bx h1:hover{
   color: rgb(30, 101, 176);
}
.bx p{
   margin: 20px 30px;
   font-size: normal;
   font-weight: lighter;
   /* word-spacing: 5px; */
   line-height: 1.5;
}
.bx u{
   margin-left: 30px;
   margin-top: 200px;
   font-size: normal;
   text-align: end;
   font-weight: bold;
}
.bx u:hover{
   text-decoration: none;
   color:  rgb(30, 101, 176);
}
#page3{
   height: 60%;
   width: 100%;
   display: flex;
   justify-content: center;
}
#page3 img{
   position: absolute;
   height: 60%;
   width: 100%;
   object-fit: cover;
}
#view{
   position: absolute;
   height: 8vh;
   width: 15vw;
   color: rgb(44, 91, 232);
   border: 2px solid rgb(44, 91, 232);
   margin-top: 20px;
   border-radius: 5px;
   padding: 15px 20px;
   text-align: center;
   font-size: large;
}
#view:hover{
   cursor: pointer;
   background-color: rgb(210, 233, 251);
   border: 2px solid rgb(31, 31, 87);
   color: rgb(31, 31, 87);
}
#page4{
   height: 87%;
   width: 100%;
   background-color: white;
   text-align: center;
}
#page4 h1{
   margin-top: 50px;
   margin-left: 320px;
   margin-right: 320px;
   font-size: 290%;
   color: rgb(1, 1, 19);
}
#page4 p{
   margin-top: 30px;
   margin-left: 320px;
   margin-right: 320px;
   font-size: larger;
   font-weight: lighter;
   line-height: 1.5;
}
.button:hover{
   cursor: pointer;
}
#bns{
   display: flex;
   margin: 30px;
   justify-content: center;
}
#bn1{
   width: 10%;
   padding: 10px 20px;
   color: white;
   background-color: rgb(75, 117, 253);
   margin: 10px;
   text-align: center;
   border-radius: 5px;
   border: 2px solid  rgb(75, 117, 253);
}
#bn1:hover{
   background-color: rgb(56, 56, 163);
   border: 2px solid rgb(56, 56, 163);
}
#bn2{
   width: 10%;
   padding: 10px 20px;
   color: rgb(44, 91, 232);
   border: 2px solid rgb(44, 91, 232);
   margin: 10px;
   text-align: center;
   border-radius: 5px;
}
#bn2:hover{
   background-color: rgb(212, 245, 252);
   border: 2px solid rgb(31, 31, 87);
   color: rgb(31, 31, 87);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
